<!DOCTYPE html>
<html lang="pt-br">
	<head>
	<title>Filme - Filmes</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">	
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		  <a class="navbar-brand mb-2" href="/"><img alt="" src="https://3.bp.blogspot.com/--KLTTOSFTMk/UDM-qNRO4BI/AAAAAAAAB7U/h8_KmTfWXeU/s400/filmes2.png" width="50" height="50"></a>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      			<li class="nav-item active">
        			<a class="nav-link" th:href='@{/perfil/{idUser} (idUser=${idUser})}' >Perfil <span class="sr-only">(current)</span></a>
      			</li>
      		</ul>
		    <form class="form-inline mr-5 mb-2" th:action="@{/busca}">
		      <input class="form-control mr-sm-2" type="text" placeholder="O que procura?" th:name="search"  aria-label="Search" required>
		      <input type="hidden" class="form-control" th:name="id" th:value="*{idUser}"/>
		      <button class="btn btn-info my-2 my-sm-0" type="submit">Buscar</button>
		    </form>
		    <ul class="mt-2">
		    	<li sec:authorize="isAuthenticated()" ><a class="btn btn-danger" href="/logout">Sair</a></li>
		    </ul>
  		 </div>
		</nav>
		<a th:each = "movie : ${movies}" class="nav-link">
			<div class="card mb-3">
	  			<img class="card-img-top" th:src="@{https://image.tmdb.org/t/p/original/{image}(image=${movie.backdropPath})}" alt="Card image cap" >
	  			<div class="card-body">
	   				<h5 class="card-title" th:text="${movie.title}"></h5>
	    			<p class="card-text" th:text="${movie.overview}"></p>
	    			<!--<p class="card-text" th:text="${idUser}"></p>-->
	    			<a  class="btn btn-info text-white" th:classappend="${botaoAdd}" th:href="@{/add-to-watchlist/{id}/{idUser}(id=${id}, idUser=${idUser})}">Adiconar à watchlist</a>
	    			<a  class="btn btn-success text-white" th:classappend="${botaoWatched}" >Assistido</a>
	    			<a  class="btn btn-secondary text-white" th:classappend="${botaoOk}" th:href="@{/add-to-watched/{id}/{idUser}(id=${id}, idUser=${idUser})}">Está na WatchList, já assistiu?</a>
	  			</div>
			</div>
		</a>
	</body>
</html>











